.contactImg {
  object-fit: cover;
}

a {
  text-decoration: none;
}

.four {
  font-size: 8rem;
  transform: rotate(15deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourofour {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
